extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.page
		h1 RSVP
		form(name="add-estimation", method="post" action="/auth/local")
			div.input
				span.label Guy's name
				input(type="text", name="guy")
			div.input
				span.label Girl's name
				input(type="text", name="girl")
			div.actions
				input(type="submit" value="Send")
	include parts/footer

block scripts
	script(src='/app/frontend.js')

