extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.h1 RSVP
	.page
		form(name="guestList", method="post" action="/signup")
			div.input
				span.label Name
				input(type="text", name="guestName")
			div.input
				span.label Number of party
				input(type="text", name="numberTagingAlong")
			div.actions
				input(type="submit" value="Send")

block scripts
	script(src='/app/frontend.js')

	script.
		document.querySelector("#passwordless").addEventListener('change', function() {
			document.querySelector("#password").disabled = this.checked;
		});