extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.page
		div(class="card" style="font-family: 'Great Vibes', cursive;")
			h1(style="font-family: 'Cookie', cursive;") RSVP
			form(name="guestList", method="post" action="/signup")
				div.input
					span.label(style="font-size:30px") Will you be attending?
					div
						input(type="radio" id="switch_left" name="willAttend" value="yes" checked)
						label(for="switch_left") Yes
						input(type="radio" id="switch_right" name="willAttend" value="no")
						label(for="switch_right") No
				div.input
					span.label(style="font-size:30px") Your Name 
					br
					input(type="text", name="guestName" class="input" style="font-family: 'Cookie', cursive;" autocomplete="off")
				div.input
					span.label(style="font-size:30px") Total in your party
					br
					<select name="numberTaggingAlong" class="select">
					<option value="0">0</option>
					<option value="1" selected="selected">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					</select>			
				div.actions
					input(type="submit" value="Send" class="button" style="color:black")


block scripts
	script(src='/app/frontend.js')

	script.
		document.querySelector("#passwordless").addEventListener('change', function() {
			document.querySelector("#password").disabled = this.checked;
		});